* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica";
  font-size: 22px;
  opacity: 0.9;
  color: seashell;
  background-color: black;
  border: 2px solid white;
}  

.header {
  position: fixed;
  display: inline-flex;
  width: 100%;
 
}

.logo {
  height: 50px;
  justify-content: flex-start;
}

.taskbar {
  display: inline-flex;
  justify-content: flex-end;
  
  
  
}
