* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica";
  font-size: 22px;
  opacity: 0.9;
  color: seashell;
  background-color: black;
  border: 2px solid white;
  box-sizing: border-box;
}  

.header {
  position: fixed;
  display: inline-flex;
  width: 1300px;
  border-bottom: 1px solid seashell;
 
}

.logo {
  height: 50px;
  
  align-content: flex-start;
}

.taskbar {

  align-content: flex-end;
}

.main {
  margin-top: 69px;
}

