body {
  margin: 0;
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  z-index: 1;
  align-items: center;
  height: 69px;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  color: seashell;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

#mission {
  background-image: url(img-mission-background.webp);
  height: 700px;
  padding-top: 70px; 
}

#mission .content {
  margin: auto;
  width: 100%;    
  background-color: black;
}

#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin: 10px;
  display: block;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#locations {
  background-image: url(img-locations-background.webp);
  height: 500px;
  padding-top: 70px;
}

#locations flex-container {
  width: 1100px;
  margin: auto;
}
