body {
  margin: 0;
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  color: seashell;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

#main {
  background-image: url(img-mission-background.webp);
  height: 700px;
}

#locations {
  background-image: url(img-locations-background.webp);
  height: 500px;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin: 10px;
  display: block;
}
