body {
  margin: 0;
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  z-index: 1;
  align-items: center;
  height: 69px;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  color: seashell;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}


#mission {
  background-image: url(img-mission-background.webp);
  background-repeat: no-repeat;
  height: 700px;
}

.content {
  background-color: black;
  width: 1200px;
}

#locations {
  background-image: url(img-locations-background.webp);
  height: 500px;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin: 10px;
  display: flex;
  margin: 5px;
  padding: 0;
  flex-direction: row;
}

.item div {
  width: 300px;
  margin: 5px;
  paddding: 0;
}
