body {
  margin: 0;
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  color: seashell;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

#mission {
  background-image: url(img-mission-background.webp);
  background-repeat: no-repeat;
  height: 700px;
}

.content {
  background-color: black;
  width: 1200px;
}

#locations {
  background-image: url(img-locations-background.webp);
  height: 500px;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin: 10px;
  display: block;
  margin: 5px;
  padding: 0;
  flex-direction: row;
}

.item div {
  width: 300px;
  margin: 5px;
  paddding: 0;
}
