/* Universal Styles */

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: seashell;
  background-color: #808080;
  font-size: 22px;
  text-align: center;
}

a {
  color: seashell;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header Section */

header {
  width: 80px;
  position: fixed;
  z-index: 1;
  height: 100%;
  background-color: #c0c0c0;
  border-right: 1px solid #a9a9a9;
  align-items: left;
}

header img {
  height: 15px;
  
}

nav {
  text-align: left;
  flex-grow: 1;
  font-size: 1000px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* Main Section */

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

/* Mission Section */

#mission {
  height: 700px;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  padding-top: 70px;
}

#mission .content {
  margin: auto;
  background-color: #a9a9a9;
  opacity: 0.8;
  width: 100%;
}

/* Store Section */

#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin: 10px;
  display: block;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

/* Location Section */

.flex-container.locations {
  padding-top: 5px;
}

#locations {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}

#locations .flex-container {
  margin: auto;
  width: 1100px;
}

.location {
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: #a9a9a9;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Contact Section */

#contact {
  height: 200px;
  text-align: center;
}

/* Footer Section */

footer {
  text-align: left;
  padding-left: 20px;
}
